@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: rgba(93, 197, 184, 1);
  background-image: url(Imagens/FundoReserva.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: 'Dosis', sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 70px;
  background-image: url(Imagens/Logo.png);
  background-repeat: no-repeat;
  background-color: rgba(93, 197, 184, 0.26);
}

.listaFilmes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px;
}

ul,li {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;

}

.infosApp {
  max-width: 300px;
  list-style-type: none;
  margin: 10px;
  padding: 15px;
  border: 1px solid rgb(93, 197, 185);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  font-family: 'Dosis', sans-serif;
}

.infosApp:hover {
  transform: scale(1.05);
}

.capaCards {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.listaFilmes {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;

}

.infosApp h2 {
  font-size: 1.5em;
  margin: 10px 0;
  color: #ffffff;
  font-family: 'Dosis', sans-serif;
  ;
}

.infosApp p {
  font-size: 1em;
  color: #eeeded;
  margin: 5px 0 0 0;
  font-family: 'Dosis', sans-serif;
}

.detalhes-filme {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 20px auto;
  background-size: cover;
  background-position: center;
  font-family: 'Dosis', sans-serif;
}

.mostrar-detalhes {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.mostrar-detalhes img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  border: 5px solid rgba(93, 197, 184, 0.58);
}

.mostrar-detalhes-2 {
  width: 100%;
  background-color: rgba(93, 197, 185, 0.58);
  padding: 15px;
  border-radius: 8px;
}

.mostrar-detalhes-2 h2 {
  font-size: 30px;
  margin-bottom: 10px;
  color: #ffffff;
  text-align: center;
  font-family: 'Dosis', sans-serif;
}

.mostrar-detalhes-2 p {
  font-size: 20px;
  margin: 12px 0;
  color: #ffffff;
  font-family: 'Dosis', sans-serif;
}

.mostrar-detalhes-2 button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: rgb(93, 197, 185);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.mostrar-detalhes-2 button:hover {
  background-color: rgba(93, 197, 185, 0.833);
}